#fondo {
    background-image: url("fondo.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

* {
  padding: 0;
  margin: 0;
}

#resumen {/*
  width: 60%;
  margin-top: 75px;
	position: absolute;
	z-index: 2;*/
	color: white;
	font-family: 'Helvetica';
  /*left: 50%;
  top: 50%;*/
}

.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}

#header {
  background: #f3e02a;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 10;
  height:100px;
}

/*The sticky class is added to the navbar with JS when it reaches its scroll position
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0)
.sticky + .content {
  padding-top: 60px;
}
*/

#logo { 
	float:left; 
	width: 10%;
	padding: 10px; 
}

nav {
  float: right; 
}

nav ul {
  list-style: none;
  overflow: hidden;
  padding: 12px; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block; 
  padding: 10px;
  color: #000;
  text-decoration: none;
}

nav ul li:hover {
  background: #48a6bc;
  font-weight: bold;
}

#logo img {
	width: 100%;
}

#header2 {
	width: 100%;
	height: 10px;
	background-color: #5b1517;
	display: absolute;
	bottom: 10px;
}

#header1 {
	width: 100%;
	height: 10px;
	background-color: #48a6bc;
	position: absolute;
	bottom: 0;
}

/*body*/
#titulo {
    width: 50%;
    margin-top: 100px;
}

html, body { 
    height: 100%;
}

#main {
  padding-top: 100px;
  height: 655px;
}

#presentacion 
{
	width: 75%;
  margin: 0 auto 0;
  text-align: center;
}
#presentacion > p { 
  margin: auto;
    margin-top: 20px;
    width: 70%; 
}

#desc {
  width: 75%;
  margin: auto;
  
  /*background: #fff;*/
}

#imagenes {
	width: 80%;
	margin: 0 auto;
}

#imagenes div {
  /*text-align: center;*/
  float: left;
  width: 25%;
}

#desc img {
  width: 97.5%;
}

#tonyd{
    background-color: #4484FF;
    height:570px;
    width: 100%;
}
#imgtony{
    height: 70%;
    padding-top: 110px;
    padding-left: 132px;

}
#imgtonyn img{
    height: 15%;
    position: absolute;
    float: left;
    padding-top: 125px;
}
#tonyt{
    color: white;
    font-family: 'Helvetica';
    font-size: 15px;
    width:40%;
}

/*BRUMPT*/
#brumpd{
    background-color: #dc6900;
    height:570px;
    width: 100%;
}
#imgcara{
    height: 70%;
    position: absolute;
    float: left;
    padding-top: 50px;
}
#imgnombre{
    height: 15%;
    padding-top: 110px;
    padding-left: 400px;
}
#brumptt{
    color: white;
    font-family: 'Helvetica';
    font-size: 15px;
    width:40%;
}

#video{ 
	height: 655px;
	width: 100%;
}

#espacio{
	height: 100px;
}