* {
  padding: 0;
  margin: 0;
}

#resumen {/*
  width: 60%;
  margin-top: 75px;
	position: absolute;
	z-index: 2;*/
	color: white;
	font-family: 'Helvetica';
  /*left: 50%;
  top: 50%;*/
}

.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}

header {
  background: #FAA929;
  width: 100%;
  position: fixed;
  z-index: 10;
}

#logo { 
	float:left; 
	width: 10%;
	padding: 10px; 
}

nav {
  float: right; 
}

nav ul {
  list-style: none;
  overflow: hidden;
  padding: 12px; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block; 
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: #FAD03A;
}

#logo img {
	width: 100%;

}

#titulo {
    width: 50%;
    margin-top: 100px;
}

html, body { 
    height: 100%;
}

#main {
  width: 75%;
  margin: 0 auto 0;
  padding-top: 100px;
  text-align: center;
}

#main > p { 
  margin: auto;
    margin-top: 20px;
    width: 70%; 
}

#desc {
  width: 80%;
  margin: 0 auto;
  margin-top: 334px;
}

#desc div {
  text-align: center;
  float: left;
  width: 25%;

}

#desc img {
  width: 97.5%;
}

/*JUEGO*/
/*tony*/
#tonyd{
    background-color: #4484FF;
    height:570px;
    width: 100%;
}
#imgtony{
    height: 70%;
    padding-top: 110px;
    padding-left: 132px;

}
#imgtonyn img{
    height: 15%;
    position: absolute;
    float: left;
    padding-top: 125px;
}
#tonyt{
    color: white;
    font-family: 'Helvetica';
    font-size: 15px;
    width:40%;
}

/*BRUMPT*/
#brumpd{
    background-color: #dc6900;
    height:570px;
    width: 100%;
}
#imgcara{
    height: 70%;
    position: absolute;
    float: left;
    padding-top: 50px;
}
#imgnombre{
    height: 15%;
    padding-top: 110px;
    padding-left: 400px;
}
#brumptt{
    color: white;
    font-family: 'Helvetica';
    font-size: 15px;
    width:40%;
}